<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>*</span>
  <span>Тест библиотеки Excel</span>
</div>

<div class="content" role="main">
  <div class="card-container">
    <input type="file" class="card" (change)="onFileSelected($event)">
  </div>
  <div class="spread-sheet-container">
    <div id="xspreadsheet-demo"></div>
  </div>
  <button (click)="onExport_Click()">Экспорт</button>

  <h5>Ячейки на экспорт:</h5>
  <div>
    <p *ngFor="let cell of exportedCells">
      <span>Адрес ячейки: {{cell.address}}.     </span>
      <span>Значение ячейки: {{cell.value}};    </span>
    </p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div>
    1. Нельзя применять форматирование ячеек при загрузке файла;<br>
    2. Формул мало, но можно добавить обработчики своих, если они не сложные. Необходимо узнать все виды формул;<br>
    3. При вбивании формул нельзя указывать другие ячейки, кликая на них;<br>
    4. У обработчика формул есть ошибки (например, если в первой ячейке, указанной в формуле СУММ будет 0, то ответ будет 0); <br>
    5. Блокировать ячейки от редактирования можно, в данном примере у любого файла блокируются ячейки 1 и 2 столбца; При этом пустые ячейки не блокируются..<br>
    6. Необходимо заранее знать список ячеек, доступных для редактирования;<br>
    7. Меню с кнопками существует, но убрал за ненадобностью (форматирование все равно не сохранится) <br>
    8. Иногда есть проблемы с объединенными ячейками (необходимо в идеале тестировать с нужными файлами) <br>
    9. Необходимо ограничивать максимальное количество строк и столбцов (в данном примере строк 100, столбцов 26)<br>

    <br>
    <br>
    <br>
    + Хранение ячеек для выгрузки, их данных и айди документа в БД<br>
    + Создание типа документа Эксель, единственного на том<br>
    + В документы можно будет вставлять метки с айдишником ячейки и получать значения через БД<br>
    + Если необходимо несколько листов (???!!!), то надо будет еще и идентифицировать ячейки между листами
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
